/* main font  */
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@400;500;700;900&display=swap');

body {
   color: #e7e9ea;
   background-color: #15202b;
   font-family: 'Hanken Grotesk', sans-serif;
}

.first-screen {
   width: 300px;
   margin: auto;
}

.first-screen__login {
   /* margin-top: 10%; */
   /* width: 300px;
    */
}

.hide {
   display: none !important;
}

.app {
   display: flex;
   justify-content: space-evenly;
   max-width: 1200px;
   margin: 0 auto;
}

.content__my-posts {
   width: 400px;
   margin: auto;
}
.content {
   width: 50%;
}

.my-posts__container {
   width: 400px;
   margin: auto;
}

.app__sidebar {
   width: 25%;
}

.first-screen__login {
   /* margin-top: 10%;
  margin-left: 38%; */
}

.first-screen__logo {
   width: 150px;
}

.first-screen__logo-wrapper {
   margin: auto;
   width: 150px;
}

.first-screen__motto {
   text-align: center;
   margin-bottom: 30px;
}

.first-screen__headers {
   display: flex;
   color: #e7e9ea;
   cursor: pointer;
}

.first-screen__login-title {
   color: #1d9bf0;
}

.regis {
   margin-left: 40px;
}

.first-screen__inputs {
   display: flex;
   flex-direction: column;
}

.first-screen__input {
   /* height: 30px; */
   /* margin-bottom: 30px; */
}

/* инпуты логина */

.first-screen__login-btn {
   border: none;
   cursor: pointer;
}

.first-screen__headings {
   display: flex;
   justify-content: space-evenly;
}

.first-screen__heading:hover {
   cursor: pointer;
   color: #1d9bf0;
}

.sidebar__item:hover {
   cursor: pointer;
   color: #1d9bf0;
}

/* create styling */
.first-screen__create {
   margin: auto;
   flex-direction: column;
}

/* sidebar css */
.logo {
   width: 150px;
   height: 90px;
}

.welcome__msg {
   font-size: 1.5rem;
}

.sidebar__container {
   margin: auto;
   position: -webkit-sticky;
   position: sticky;
   top: 0;
   width: 150px;
   font-size: 1.5rem;
   list-style: none;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.sidebar__item {
   margin-top: 40px;
}

.sidebar__icon {
   /* position: absolute; */
   left: 70px;
}

.app__input {
   box-sizing: border-box;
   width: 100%;
   border-radius: 8px;
   outline: none;
   border: none;
   padding: 1rem;
   height: 3.5rem;
   margin: 1rem 0;
   background-color: #273340;
   color: #e7e9ea;
}

.add-post__inputs {
   display: flex;
   flex-direction: column;
}

.app__btn {
   width: 100%;
   background-color: #1d9bf0;
   color: #ffffff;
   height: 3rem;
   border-radius: 8px;
   border: none;
   cursor: pointer;
   margin: 1rem 0;
}

.add-post__body {
   resize: none;
   height: 200px;
}

textarea {
   font-family: 'Hanken Grotesk', sans-serif !important;
}

.add-post__body::placeholder {
   font-family: initial;
}

.add-post__btn {
   width: 93px;
   align-self: end;
}

/* search input  */
.search__input {
   padding-left: 3rem;
}

.app__trending {
   width: 25%;
   margin-top: 30px;
}

.news {
   position: -webkit-sticky;
   position: sticky;
   top: 0;
   background-color: #273340;
   border-radius: 6px;
}

.news__title {
   margin-left: 20%;
   padding-top: 10px;
}

.news-item {
   margin-left: 20px;
   margin-right: 20px;
   padding-bottom: 5px;
}

.news-item:hover {
   background-color: #353d46;
   cursor: pointer;
}

.news-trend {
   font-size: 13px;
   opacity: 0.5;
   margin-bottom: 2px;
}

.news-row {
   display: flex;
   justify-content: space-between;
}

.news-row__main {
   margin: 0;
   font-size: 16px;
}

.news-row__dots {
   margin: 0;
   opacity: 0.5;
}

.news-quantity {
   font-size: 13px;
   opacity: 0.5;
   margin-top: 2px;
}

.show-more {
   margin-left: 25px;
   padding-bottom: 20px;
   color: #1d79b9;
   font-size: 15px;
   cursor: pointer;
}

.search {
   position: relative;
}

.search__icon {
   position: absolute;
   top: 50%;
   transform: translate(50%, -50%);
}

/* post css */

.posts__post-wrapper {
   background-color: #273340;
   padding: 1rem;
   border-radius: 0.5rem;
   margin: 1.5rem 0;
}

.post-icons {
   cursor: pointer;
   display: flex;
   justify-content: space-between;
   margin-top: 5px;
}

.posts__post-liked {
   z-index: 1;
   position: absolute;
   display: none;
}

.posts__post-comments {
   margin-left: 20px;
}

.posts__post-delete {
   margin-right: 20px;
}

/* modal */

.edit-modal {
   width: 400px;
   margin: auto;
   padding: 20px 0;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background-color: #273340;
   height: 500px;
   border-radius: 10px;
}

.edit-modal__input {
   border: #202327;
   background-color: #0f2a3b;
}

.edit-modal__body {
   resize: none;
   height: 200px;
}

.edit-inp::placeholder {
   color: #e7e9ea;
}

.posts__edit-btn-update {
   background-color: #1d9bf0;
   color: #ffffff;
   height: 50px;
   width: 150px;
   border-radius: 8px;
   border: none;
   cursor: pointer;
   margin-top: 50px;
}

.content__profile {
   margin-top: 35px;
}

.profile__handler::before {
   content: '@';
}

.profile-lineHeight {
   line-height: 15px;
}

.profile-handle {
   font-weight: bold;
   font-size: 22px;
   margin: 0;
}

.profile-quantity {
   opacity: 0.5;
   margin: 0;
   margin-bottom: 10px;
}

.profile__background-img {
   width: 600px;
}

.profile__profile-img img {
   width: 70px;
   height: 70px;
   position: relative;
   z-index: 1;
   left: 10px;
   bottom: 50px;
}

.profile-names {
   line-height: 10px;
   margin-top: -90px;
   margin-left: 500px;
}

.osh {
   display: flex;
   align-items: center;
}

/*! custom classes */
.display-block {
   display: block;
}
.display-none {
   display: none;
}
.display-flex {
   display: flex;
}

.userpic {
   width: 30px;
   margin-bottom: -10px;
   margin-right: 10px;
}

.ml-10 {
   margin-left: 15px;
}

/*! hovers  */
.first-screen__login-btn:hover {
   background-color: #1d79b9;
   transition: ease-in-out 0.2s;
}

.posts__edit-btn-update:hover {
   background-color: #1d79b9;
   transition: ease-in-out 0.2s;
}

.add-post {
   margin: auto;
   width: 400px;
}

.timeline-wrapper {
}

.content__timeline {
   width: 400px;
   margin: auto;
}

.posts__post-likes-tooltip {
   position: absolute;
   margin: 0;
   padding: 10px;
   width: 100px;
   list-style: none;
   background-color: rgb(70, 69, 69);
   border-radius: 5px;
}

.post__comment-input {
   background-color: #15202b;
   color: white;
   height: 100px;
   width: 200px;
   margin: 10px;
   resize: none;
}

.post__comment-btn-add {
   background-color: #1d9bf0;
   color: white;
   border: none;
   margin: 10px;
   padding: 10px;
}

.comment-section {
   list-style: none;
   margin: 0;
   padding: 10px;
}

.comment-section li span:first-child {
   margin: 5px;
   color: #1d9bf0;
   font-weight: bold;
}

.comment-section li span:nth-child(2) {
   margin: 5px;
   color: #7d7d7d;
}

.comment-section li p {
   margin-left: 10px;
}
